.contact {
    display: flex;
    height: 100vh;
}

.c-left {
    flex: 1;
    display: flex;
}

.c-bg {
    background-color: #59b256;
    height: 100%;
    width: 21px;
}

.c-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 37px;
}

.c-title {
    color: #000000b8;
    font-weight: bold;
    font-size: 53px;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 318px;
}

.add-logo {
    margin-right: 10px;
    object-fit: cover;
    width: 46px;
    height: 46px;
    margin-top: -8px;
}




/* Contact right side */
.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.c-desc {
    font-weight: 200;
}

form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    outline: none;
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

.contact-btn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 18%;
    border-radius: 5px;
    border: none;
    padding: 15px;
    background-color: #6aba67;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.contact-btn:hover {
    transition: ease-in 0.5s;
    box-shadow: inset 300px 0 0 0 #37911a;
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 460px) {
    .contact {
        flex-direction: column;
        margin-top: -122px;
        height: 138vh;
    }

    .c-left {
        height: 65vh;
    }

    .c-wrapper {
        padding: 67px;
    }

    .c-title {
        width: 350px;
        font-size: 22px;
        margin-bottom: 33px;
    }

    .logos {
        margin-top: -30px;
        height: 240px;
    }

    .c-right {
        padding: 67px;
        margin-top: -140px
    }

    .c-bg {
        display: none;
    }

    form {
        margin-top: 0;
    }

    input {
        width: 100%;
    }

    .contact-btn {
        width: 46%;
        border-radius: 9px
    }
}